<!DOCTYPE html>
<html>
  <head>
    <title>FinanceJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Main -->
    <link href="/css/main.css" rel="stylesheet" media="screen">

  </head>
  <body>
    <div class="page-header">
      <h1>FinanceJS <small>Your budget in balance!</small></h1>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="/dashboard">Monthly view</a></li>
      <li><a href="#">Manage entries</a></li>
    </ul>

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Entries</div>

    <!-- Table -->
    <table class="table entries">
      <!-- Add entries here -->
    </table>
  </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/entries.js"></script>
  </body>
</html>